# Файлы, скомпилированные в байтах / оптимизированные / DLL
__pycache__/
.py*[код]
*$py.class

# Расширения C
*.so

# Дистрибутив / упаковка
.Python
сборка/
разработка-яйца/
dist/
Загрузки/
яйца/
.яйца/
библиотека/
lib64/
части/
sdist/
var/
колеса/
поделиться/python-колеса/
.egg-информация */
.installed.cfg
*.egg
МАНИФЕСТ

# PyInstaller
# Обычно эти файлы записываются скриптом python из шаблона
# перед тем, как PyInstaller соберет exe-файл, чтобы ввести в него дату / другую информацию.
*.manifest
*.spec

# Журналы установщика
pip-log.txt
pip-delete-this-directory.txt

# Модульные тесты / отчеты о покрытии
htmlcov/
.tox/
.nox/
.покрытие
.покрытие.*
.кэш
nosetests.xml
coverage.xml
*.обложка
*.py, обложка
.гипотеза/
.pytest_cache/
обложка/

# Переводы
*.mo
*.pot

# Django вещи:
*.log
local_settings.py
db.sqlite3
db.sqlite3-журнал

# Колба материал:
экземпляр/
.webassets-кэш

# Ненужные вещи:
.scrapy

# Документация Sphinx
документы/_build/

# PyBuilder
.pybuilder/
цель/

# Блокнот Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# Для библиотеки или пакета вы можете игнорировать эти файлы, поскольку код
# предназначен для запуска в нескольких средах; в противном случае проверьте их в:
# .python-версия

# pipenv
# Согласно pypa /pipenv#598, рекомендуется включать Pipfile .заблокируйте систему управления версиями.
# Однако, в случае совместной работы, если у вас есть зависимости от платформы или зависимости
# не имея кроссплатформенной поддержки, pipenv может устанавливать зависимости, которые не работают или нет
# установите все необходимые зависимости.
#Pipfile.lock

# поэзия
# Похоже на Pipfile.замок, обычно рекомендуется включать стихи.заблокируйте систему управления версиями.
# Это особенно рекомендуется для двоичных пакетов для обеспечения воспроизводимости и более
# обычно игнорируется для библиотек.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
# Похоже на Pipfile.блокировка, обычно рекомендуется включать pdm.lock в систему управления версиями.
#pdm.lock
# pdm хранит конфигурации всего проекта в .pdm.toml, но рекомендуется не включать его
# в системе управления версиями.
# https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; используется, например github.com/David-OConnor/pyflow и github.com/pdm-project/pdm
__pypackages__/

# Сельдерей
celerybeat-расписание
celerybeat.pid

# SageMath проанализировал файлы
*.sage.py

# Среды
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Настройки проекта Spyder
.spyderproject
.spyproject

# Настройки проекта Rope
.ropeproject

# документация mkdocs
/сайт

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Проверка типов Pyre
.pyre/

# статический анализатор типов pytype
.pytype/

# Символы отладки Cython
cython_debug/

# PyCharm
Конкретный шаблон # JetBrains поддерживается в отдельном файле JetBrains.gitignore, который может
# можно найти по адресу https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# и могут быть добавлены в глобальный gitignore или объединены в этот файл. Для более ядерного
# опция (не рекомендуется) вы можете раскомментировать следующее, чтобы игнорировать всю папку idea.
#.idea/